spring:
  application:
    name: e-commerce

  datasource:
    url: jdbc:postgresql://localhost:5432/e-commerce
    username: postgres
    password: 5432

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081